# Llave de OpenAI
OPENAI_API_KEY=

# Langfuse
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL="https://us.cloud.langfuse.com"

# # Modelo de OpenAI (opcional | Si no se especifica ocupa gpt-4o-mini)
MODEL='gpt-4o-mini'

# Modelo de embeddings (opcional | Si no se especifica ocupa el por defecto)
EMBEDDINS_MODEL='text-embedding-3-small'